section{
    color: #fff;
    border: none;
    margin: 50px;
    padding: 5.6vw;
}

h1{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 80px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

img{
    width: 100%;
    height: auto;
}