nav {
    height: 75px;
    left: 0;
    padding: 0 36px;
    position: relative;
    display: flex;
    background-color:#07090F;
    text-decoration: none;
}

button{
    margin-right: 10px;
    left:910px ;
}

.Login {
    position: relative;
    background-color: #4E4A59;
    border-radius: 5px;
    padding: 28px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 200px;
    height: 25px;
    color: #fff;
    border: none;
    font-size: 18px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    
}

.Subscribe {
    position: relative;
    background-color: #FC3C36;
    border-radius: 5px;
    padding: 28px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 240px;
    height: 25px;
    color: #fff;
    float: right;
    border: none;
    font-size: 18px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    
      
}

.Logo{
    display: block;
    height: 50px;
    width: 90px;
}

